.header_input{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.str_list{
    font-size: 20px;
}
li{
    color: black
}
.list{
    display: flex;
    justify-content: center;
}
.list_item{
    padding-bottom: 5px;
}